<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/aop 
 http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
 http://www.springframework.org/schema/tx 
 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"> 
 	<!--  <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>-->
 	<bean name="loginAction" class="com.wyz.action.LoginAction">
		<property name="loginService">
			<ref bean="loginService"></ref>
		</property>
	</bean>
	<bean id="loginService" class="com.wyz.service.LoginService">
		<property name="loginDao">
			<ref bean="loginDao"></ref>
		</property>
	</bean>
	<bean id="baseDao" abstract="true" class="com.wyz.hibernate.Dao.BaseDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="loginDao" class="com.wyz.hibernate.Dao.LoginDao" parent="baseDao">  
    </bean>
</beans>